.current-count {
    overflow: hidden;
    background: transparent;
    background-size: 300%;
    height: 30.3rem;
    position: relative;
    margin-bottom: 5rem;
    z-index: 0;

    &__container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &__section {
        width: 25%;
        z-index: 2;
        color: #fff;
        margin: 2.5rem;
        font-family: "Montserrat", sans-serif;
        display: flex;

        &__img {
            margin-right: 2rem;
        }
        
        & h3 {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            margin-top: 0;
        }

        &__count {
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
}