.current-count {
    overflow: hidden;
    background: transparent;
    background-size: 300%;
    height: 30.3rem;
    position: relative;
    margin-bottom: 5rem;
    z-index: 0;

    &__container {
        display: flex;
        width: 21rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        flex-wrap: wrap;
        justify-content: space-between;

        @mixin atXSmall {
            width: 29rem;
        }

        @mixin atSmall {
            width: 41rem;
        }

        @mixin atMedium {
            flex-wrap: nowrap;
            width: 58rem;
        }

        @mixin atLarge {
            width: 71.25rem;
        }
    }

    &__section {
        width: 50%;
        z-index: 2;
        color: #fff;
        margin: 2rem 0 0 0;
        font-family: "Montserrat", sans-serif;
        display: flex;

        @mixin atMedium {
            width: 16%;
            margin: 0 3rem;
        }

        @mixin atLarge {
            margin: 0 3rem;
        }

        &__img {
            margin-right: 0.8rem;
            
            @mixin atXSmall {
                margin-right: 1rem;
            }

            @mixin atSmall {
                margin-right: 2rem;
            }

            & img {
                width: 30px;

                @mixin atXSmall {
                    width: auto;
                }
            } 
        }
        
        & h3 {
            font-weight: 400;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            margin-top: 0;

            @mixin atXSmall {
                font-size: 1.1rem;
            }

            @mixin atLarge {
                font-size: 1.5rem;
            }
        }

        &__count {
            font-weight: 600;
            font-size: 1.6rem;

            @mixin atXSmall {
                font-size: 2.1rem;
            }

            @mixin atSmall {
                font-size: 3.1rem;
            }

            @mixin atMedium {
                font-size: 3.3rem;
            }

            @mixin atLarge {
                font-size: 3.5rem;
            }
        }

        &--first {

            @mixin atMedium {
                margin-left: 0;
            }

            @mixin atLarge {
                margin-left: 2.2rem;
            }
            
        }

        &--large {
            
            @mixin atMedium {
                width: 52%;
            }
        }

        &--left {
            float: left;

            @mixin atMedium {
                float: none;
            }

        }

        &--right {
            float: right;

            @mixin atMedium {
                float: none;
            }
        }
    }
}