.current-count {
    overflow: hidden;
    background-image: url("../../assets/images/school-298680_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-height: 30.32rem;
    position: relative;

    &__container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &__section {
        width: 25%;
        z-index: 2;
        color: #fff;
        padding: 2rem;
        margin: 2rem;
        font-family: "Montserrat", sans-serif;
        
        & h3 {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        &__count {
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
}