.donate-hero {
    /* background-image: url("../../assets/images/bg-action.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    background: transparent;
    background-size: contain;
    height: 26.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @mixin atSmall {
        height: 21.75rem;
    }

    @mixin atMedium {
        flex-direction: row;
    }

    @mixin atLarge {
        height: 16.3125rem;
    }

    &__text {
        color: #fff;
        padding: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;

        @mixin atMedium {
            padding-left: 4.5rem;
        }
        
        @mixin atLarge {
            padding-left: 2.5rem;
        }
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }

    &__description {
        max-width: 49rem;
        font-size: 1.1rem;
        line-height: 2;
    }

    &__btn {
        height: 3rem;
        width: 12.7rem;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: $mainOrange;
        border: none;
        color: #fff;
        transition: background-color 0.2s linear;

        @mixin atMedium {
            margin: 5.5rem 3rem 5rem 3.5rem;
        }

        @mixin atLarge {
            margin: 5.5rem 3rem 5rem 10.5rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $darkOrange;
        }
    }
}