.events {
    &__container {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }

    &__section {
        width: 50%;
        max-width: 35.625rem;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1.5rem 2.5rem;
        margin: 1rem;
        transition: all 0.2s linear;

        & h3 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
        }

        & p {
            color: rgba(0, 0, 0, 0.5);
            line-height: 2;
            font-weight: 600;
            transition: all 0.2s linear;
        }

        &:hover {
            background-color: $mainOrange;
        }

        &:hover p {
            color: #fff;
        }
    }
}