.header {
    z-index: 1;
    position: relative;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    display: none;

    @mixin atMedium {
        display: block;
        height: 5rem;
        background-color: #34ADFF;
        background-image: -webkit-linear-gradient(150deg, $mainOrange 45%, $darkGray 45%);
    }

    @mixin atLarge {
        background-image: -webkit-linear-gradient(150deg, $mainOrange 43%, $darkGray 43%);
    }

    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    &--sticky + .large-hero {
        padding-top: 5rem;
    }

    &__content {
        margin: 0 auto;
        display: flex;
        justify-content: center;

        @mixin atMedium {
            max-width: 58.75rem;
        }

        @mixin atLarge {
            max-width: 73.125rem;
        }
    }

    /* & nav {
        padding-top: 0.9rem;
        width: 55%;
        display: flex;

        @mixin atMedium {
            justify-content: flex-end;
            padding-right: 2rem;
        }

        @mixin atLarge {
            justify-content: center;
            padding-right: 6rem;
            width: 65%;
        }
    }

    &__main-menu {
        padding: 0;

        &:first-child {
            padding-left: 0;
        }
    }

    &__main-menu__item {
        list-style: none;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        display: inline;
        padding: 1rem 0.7rem;
        position: relative;

        & > a {
            color: #fff;
            text-decoration: none;
            transition: color .2s linear;
        }

        & > a:hover {
            color: $mainOrange;
            cursor: pointer;
        }

        @mixin atLarge {
            font-size: 1rem;
            padding: 1rem 1.3125rem;
        }
    }

    &__submenu {
        position: absolute;
        top: 4.15rem;
        left: 0.5rem;
        display: none;
        width: 10rem;
        padding: 1.2rem 1.7rem 0.1rem 1.7rem;
        background-color: #fff;
        text-transform: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        

        @mixin atLarge {
            top: 4.25rem;
        }
    }

    &__main-menu__item:hover &__submenu {
        display: block;
    }

    &__submenu li {
        color: #737373;
        font-size: 1rem;
        padding-bottom: 1.3rem;
        font-weight: 400;
        display: block;
    }

    &__sub-submenu {
        position: absolute;
        display: none;
    }

    & li.header--has-child > a:after {
        color: #fff;
        white-space: pre;
        content: '  ▾';
        font-size: 0.7rem;
        transition: color .2s linear;
    }

    & li.header--has-child:hover > a:after {
        color: $mainOrange;
    } */

    & nav {
        width: 55%;
        display: flex;

        @mixin atMedium {
            justify-content: flex-end;
            padding-right: 2rem;
        }

        @mixin atLarge {
            justify-content: center;
            padding-right: 6rem;
            width: 65%;
        }
    }

    &__main-menu {
        padding: 0;
        display: block;
        margin-top: 0;
        margin-bottom: 0;

        &:first-child {
            padding-left: 0;
        }
    }

    &__main-menu__item {
        list-style: none;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        display: inline-block;
        /* padding: 1rem 0.7rem; */
        padding: 2rem 0.6rem 2rem 0.6rem;
        position: relative;

        & > a {
            color: #fff;
            text-decoration: none;
            transition: color .2s linear;
        }

        & > a:hover {
            color: $mainOrange;
            cursor: pointer;
        }

        @mixin atLarge {
            font-size: 1rem;
            padding: 2rem 1.3125rem 2rem 1.3125rem;
        }
    }

    &__submenu {
        position: absolute;
        display: none;
        width: 10rem;
        margin-top: 1.9rem;
        padding: 1.3rem 1.7rem 0.1rem 1.7rem;
        background-color: #fff;
        text-transform: none;
        z-index: 1000;
        float: left;
    }

    &__main-menu__item:hover > &__submenu {
        z-index: 1000;
        display: block;
    }

    &__main-menu__item:hover > a {
        color: $mainOrange;
    }

    &__submenu li {
        color: #737373;
        font-size: 1rem;
        padding-bottom: 1.3rem;
        font-weight: 400;
        display: block;

        & a {
            color: #737373;
            text-decoration: none;
            transition: color 0.2s linear;
        }

        & a:hover {
            color: $mainOrange;
        }
    }

    &__sub-submenu {
        position: absolute;
        display: none;
    }

    & li.header--has-child > a:after {
        color: #fff;
        white-space: pre;
        content: '  ▾';
        font-size: 0.7rem;
        transition: color .2s linear;
    }

    & li.header--has-child:hover > a:after {
        color: $mainOrange;
    }

    &__other {
        width: 45%;
        display: flex;
        justify-content: flex-end;

        @mixin atLarge {
            width: 35%;
        }
    }

    &__other-btn {
        width: 37%;
        padding-top: 2.2rem;
        padding-left: 3rem;
        position: relative;

        &__cart {
            padding-right: 2rem;
            position: relative;
        }

        &__cart-count {
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            width: 1.3rem;
            height: 1.3rem;
            top: -75%;
            left: 15%;
        }

        &__search {
            display: inline;
            padding-left: 0;
            width: 2.1rem;
            position: absolute;
            top: 30%;
            right: 15%;
            filter:
                    invert(100%)
                    brightness(1000%)
                    saturate(1000%)
        }

        &__search:hover {
            cursor: pointer;
        }

        &__search__search-bar {
            position: absolute;
            top: 5rem;
            left: -10.6rem;
            transition: all 0.5s linear;

            &.header__other-btn__search__search-bar--hidden {
                animation-name: slideOut;
                animation-duration: .5s;
                animation-fill-mode: both;
                animation-timing-function: cubic-bezier(.4,0,.2,1);
                visibility: hidden;
            }

            &.header__other-btn__search__search-bar--revealed {
                visibility: visible;
                animation-name: slideIn;
                animation-duration: .5s;
                animation-fill-mode: both;
                animation-timing-function: cubic-bezier(.4,0,.2,1);
            }
            
            & input {
                color: $lightGray;
                padding: 0.7rem;
                width: 16.875rem;
            }

            & button {
                display: inline;
                background-color: $mainOrange;
                border: none;
                position: absolute;
                top: 0;
                right: -3.2rem;
                height: 2.8rem;
                width: 3.2rem;
                transition: visibility 0.5s linear;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $darkOrange;
                    cursor: pointer;
                }

                & img {
                    width: 1.5rem;
                    filter:
                        invert(100%)
                        brightness(1000%)
                        saturate(1000%)
                }
            }
        }
    }
    
    &__donate-btn {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1.4rem 2.2rem 0 2.2rem;
        font-size: 1.1rem;
        font-weight: 600;
        width: 14.25rem;
        float: right;
        display: none;

        @mixin atMedium {
            display: block;
        }

        & button {
            background-color: transparent;
            border: none;
            color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 75%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 75%, 0);
    }
}