.large-hero {
    position: relative;
    overflow: hidden;
    /* margin-top: 0.5rem; */

    @mixin atMedium {
        margin-top: 0;
    }

    &__img {
        display: flex;
        justify-content: center;
    }

     &__title {
         font-family: "Montserrat", sans-serif;
         font-size: 1.5rem;
         color: #fff;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateY(-300%) translateX(-50%);

         @mixin atXSmall {
            top: 45%;
            font-size: 2rem;
         }

         @mixin atSmall {
             font-size: 3rem;
             top: 50%;
         }

         @mixin atMedium {
            font-size: 3.5rem;
         }

         @mixin atLarge {
            font-size: 4rem;
         }
     }

     &__subtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #fff;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateY(-100%) translateX(-50%);
        font-weight: 400;

        @mixin atXSmall {
            font-size: 1.2rem;
            font-weight: 600;
        }

        @mixin atSmall {
            top: 50%;
        }

        @mixin atLarge {
            transform: translateY(-300%) translateX(-50%);
            font-size: 1.3rem;
        }
     }

     &__image1 {
        width: 100%;
        height: 100%;
        flex: none;

        @mixin atLarge {
            width: auto;
            height: auto;
        }   
     }

     &__btn {
         position: absolute;
         top: 80%;
         left: 50%;
         transform: translateY(-100%) translateX(-50%);
         background-color: $mainOrange;
         border: 1px solid transparent;
         border-radius: 0.2rem;
         color: #fff;
         font-size: 1.1rem;
         padding: 1rem 2rem;

         &:hover {
             cursor: pointer;
         }

         @mixin atSmall {
            top: 70%;
         }

         @mixin atLarge {
            font-size: 1.2rem;
            transform: translateY(-300%) translateX(-50%);
         }
     }
}