.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 3rem 0;

    @mixin atSmall {
        flex-direction: row;
        padding: 3rem 0 2rem 0;
    }

    @mixin atMedium {
        padding: 7rem 0 5rem 0;
    }

    &__option {
        padding: 1.2rem;
        width: 95%;
        margin: 1rem 0;
        font-size: 1.1rem;
        font-weight: 600;
        border: 1px solid rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.2s linear;

        @mixin atSmall {
            padding: 2rem;
            width: 9.8125rem;
            max-height: 10.625rem;
            min-height: 9.125rem;
            margin: 2rem 1rem;
        }

        @mixin atMedium {
            width: 13.3125rem;
            height: 9.125rem;
        }

        @mixin atLarge {
            width: 16.875rem;
        }

        &__icon {
            width: 52px;
            height: 52px;
            transition: all 0.2s linear;
            filter:
                    invert(100%)
                    brightness(50%)
                    sepia(1)
                    hue-rotate(-19deg)
                    saturate(1626%)
                    brightness(99.4%)
        }

        &:hover {
            background-color: $mainOrange;
        }

        &:hover &__icon {
            filter:
                grayscale(80%)
                brightness(0%)
        }
    }
}