.why-donate {
    display: flex;
    align-items: center;
    max-width: 77.5rem;
    margin: 0 auto;

    &__section-left {
        width: 44%;
        margin: 5rem 2rem 2rem 2rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        text-align: center;

        & h2 {
            font-weight: 500;
        }
    }

    &__section-right {
        width: 56%;
        border-left: 1px solid $mainOrange;
        margin: 5rem 2rem 2rem 0;
        padding: 0 0 0 2rem;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 600;
        font-size: 1rem;

        & p {
            line-height: 2;
        }
    }
}